/* line 1, ../scss/_typo.scss */
h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  margin-top: 1em;
  line-height: normal;
}

/* line 8, ../scss/_typo.scss */
h2, .h2 {
  font-size: 32px;
  margin-bottom: 30px;
}
@media screen and (max-width: 479px) {
  /* line 8, ../scss/_typo.scss */
  h2, .h2 {
    font-size: 22px;
  }
}

/* line 15, ../scss/_typo.scss */
h3, .h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* line 23, ../scss/_typo.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 27, ../scss/_typo.scss */
p {
  margin-bottom: 30px;
}

/* line 32, ../scss/_typo.scss */
.title--large {
  font-size: 56px;
}
@media screen and (max-width: 767px) {
  /* line 32, ../scss/_typo.scss */
  .title--large {
    font-size: 30px;
  }
}
/* line 38, ../scss/_typo.scss */
.title--smooth {
  margin: 0;
}

/* line 1, ../scss/_helpers.scss */
.iblock {
  display: inline-block;
  vertical-align: middle;
}

/* line 5, ../scss/_helpers.scss */
.iblock--top {
  display: inline-block;
  vertical-align: top;
}

/* line 9, ../scss/_helpers.scss */
.iblock--bottom {
  display: inline-block;
  vertical-align: bottom;
}

/* line 14, ../scss/_helpers.scss */
.itable {
  display: table-row;
}

/* line 17, ../scss/_helpers.scss */
.icell {
  display: table-cell;
  vertical-align: middle;
}

/* line 21, ../scss/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 5, ../scss/style.scss */
body {
  background: #dbdbdb;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

/* line 14, ../scss/style.scss */
.container {
  margin: 0 auto;
}

/* line 17, ../scss/style.scss */
.row {
  position: relative;
}

/* line 20, ../scss/style.scss */
.row:after {
  content: '';
  display: block;
  clear: both;
}

/* line 25, ../scss/style.scss */
.pull-left {
  float: left;
}

/* line 28, ../scss/style.scss */
.pull-right {
  float: right;
}

/* line 31, ../scss/style.scss */
.clearfix {
  clear: both;
}

/* line 37, ../scss/style.scss */
.wrap {
  background: #fff;
  width: 940px;
}

/* line 42, ../scss/style.scss */
.inner {
  margin: 0 80px;
  padding: 0 80px;
}
/* line 45, ../scss/style.scss */
.inner--small {
  padding: 0;
  margin: 0 80px;
}

/* line 51, ../scss/style.scss */
.header {
  padding-top: 45px;
  padding-bottom: 35px;
}

/* line 55, ../scss/style.scss */
.header__logo {
  float: left;
  margin-right: 20px;
  width: 122px;
  height: 66px;
}

/* line 61, ../scss/style.scss */
.header__logo img {
  width: 100%;
}

/* line 64, ../scss/style.scss */
.header__desc {
  margin-top: 8px;
}

/* line 67, ../scss/style.scss */
.header__title {
  font-size: 22px;
  line-height: 1.2em;
}

/* line 71, ../scss/style.scss */
.header__phone {
  color: #a5a5a5;
  font-size: 16px;
}

/* line 75, ../scss/style.scss */
.header__phone span {
  font-size: 18px;
}

/* line 80, ../scss/style.scss */
.main {
  font-size: 17px;
  line-height: 1.4em;
}

/* line 84, ../scss/style.scss */
.main a {
  color: #00ABF0;
}

/* line 87, ../scss/style.scss */
.main img {
  max-width: 100%;
  margin: 0 0 10px;
}

/* line 91, ../scss/style.scss */
.img__desc {
  color: #a5a5a5;
  font-size: 14px;
}

/* line 95, ../scss/style.scss */
.separator-line {
  display: block;
  margin: 0 0 20px 0;
  height: 1px;
  border: 0;
  background: #dbdbdb;
}

/* line 102, ../scss/style.scss */
.toplist {
  margin: 50px 0;
}

/* line 105, ../scss/style.scss */
.text-large {
  font-size: 20px;
}

/* line 108, ../scss/style.scss */
.text-bold {
  font-weight: 700;
}

/* line 111, ../scss/style.scss */
.text-extrabold {
  font-weight: 800;
}

/* line 114, ../scss/style.scss */
.text-light {
  font-weight: 300;
}

/* line 120, ../scss/style.scss */
.tabs__nav {
  border-bottom: 2px solid;
  color: #00ABF0;
  margin-bottom: 40px;
}

/* line 126, ../scss/style.scss */
.tabs__nav:after {
  content: '';
  display: block;
  clear: both;
}

/* line 131, ../scss/style.scss */
.tabs__nav__item {
  border: 2px solid;
  border-width: 0 0 2px 0;
  float: left;
  display: block;
  box-sizing: border-box;
}

/* line 138, ../scss/style.scss */
.tabs__nav__item.active {
  border-width: 2px 2px 0 2px;
}

/* line 141, ../scss/style.scss */
.tabs__nav__item__inner {
  background: #fff;
  padding: 20px 30px;
  margin-bottom: -2px;
  color: #a5a5a5;
  text-align: center;
  display: block;
}

/* line 149, ../scss/style.scss */
a .tabs__nav__item__inner {
  color: #000;
}

/* line 152, ../scss/style.scss */
a:hover .tabs__nav__item__inner {
  color: #00ABF0;
}

/* line 156, ../scss/style.scss */
.tabs__nav__item.active .tabs__nav__item__inner {
  color: #00ABF0;
  padding-top: 18px;
  padding-bottom: 22px;
}

/* line 162, ../scss/style.scss */
.tabs__content__tab {
  display: none;
}

/* line 165, ../scss/style.scss */
.tabs__content__tab.active {
  display: block;
}

/* line 169, ../scss/style.scss */
.tabs--half .tabs__nav {
  margin-bottom: 28px;
  font-size: 20px;
}

/* line 173, ../scss/style.scss */
.tabs--half .tabs__nav__item {
  width: 50%;
}

/* line 176, ../scss/style.scss */
.tabs--half .tabs__nav__item__inner {
  padding: 20px 3px;
}

/* line 183, ../scss/style.scss */
.rating-table {
  margin-bottom: 50px;
}

/* line 187, ../scss/style.scss */
.rating-table__cells {
  width: 100%;
}

/* line 190, ../scss/style.scss */
.rating-table__cells td {
  padding: 8px 7px;
}

/* line 193, ../scss/style.scss */
.rating-table__body td {
  padding: 10px 7px 4px;
}

/* line 196, ../scss/style.scss */
.rating-table__header {
  background: #00ABF0;
  color: #fff;
}

/* line 201, ../scss/style.scss */
.rating-table__header .rating-table__scores {
  width: inherit;
  color: #fff;
}

/* line 205, ../scss/style.scss */
td.rating-table__num {
  width: 12px;
  padding-left: 0;
}

/* line 212, ../scss/style.scss */
.rating-table__scores {
  text-align: right;
  width: 80px;
  color: #00ABF0;
}

/* line 219, ../scss/style.scss */
.hero-block {
  background: #00ABF0;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 28px;
  line-height: normal;
}

/* line 227, ../scss/style.scss */
.hero-block p {
  margin: 0;
}

/* line 234, ../scss/style.scss */
.feature {
  position: relative;
  background: url(../img/palace-black.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 400px;
}

/* line 240, ../scss/style.scss */
.feature__inner {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

/* line 246, ../scss/style.scss */
.hero-block--feature {
  background: rgba(0, 151, 239, 0.8);
}

/* line 253, ../scss/style.scss */
.request-form__title {
  font-size: 22px;
}

/* line 256, ../scss/style.scss */
.request-form__input {
  width: 100%;
  outline: 0;
  border: 1px solid #a5a5a5;
  margin-bottom: 20px;
  padding: 21px 32px;
  font-size: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #282828;
}

/* line 277, ../scss/style.scss */
.request-form__input--send {
  color: #fff;
  border: 0 !important;
}

/* line 281, ../scss/style.scss */
.request-form__input--half {
  width: 300px;
  float: left;
  margin-right: 20px;
}

/* line 286, ../scss/style.scss */
.request-form__input--half:last-child {
  margin-right: 0;
}

/* line 289, ../scss/style.scss */
.request-form__input:focus {
  box-shadow: 0 0 4px rgba(0, 171, 240, 0.5);
  -webkit-border: 1px solid #00ABF0;
  -moz-border: 1px solid #00ABF0;
  -ms-border: 1px solid #00ABF0;
  border: 1px solid #00ABF0;
}

/* line 296, ../scss/style.scss */
.request-form__input.error {
  border: 1px solid #ff5500;
  -webkit-box-shadow: 0 0 4px rgba(255, 85, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(255, 85, 0, 0.5);
  -ms-box-shadow: 0 0 4px rgba(255, 85, 0, 0.5);
  box-shadow: 0 0 4px rgba(255, 85, 0, 0.5);
}

/* line 303, ../scss/style.scss */
.request-form__notify label {
  margin: -15px auto 20px;
  color: #ff5500;
  font-size: 14px;
  display: block;
}

/* line 312, ../scss/style.scss */
.b-block {
  background: #f2fafe;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  font-size: 22px;
}

/* line 320, ../scss/style.scss */
.b-block p:last-child {
  margin-bottom: 10px;
}

/* line 325, ../scss/style.scss */
.btn,
a.btn {
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  background: #00ABF0;
  font-weight: 700;
  text-align: center;
  padding: 21px 32px;
  border: 0;
  -webkit-transition: .2s background;
  -moz-transition: .2s background;
  -ms-transition: .2s background;
  transition: .2s background;
  margin-bottom: 20px;
}
/* line 346, ../scss/style.scss */
.btn--small,
a.btn--small {
  padding: 8px 40px;
}

/* line 350, ../scss/style.scss */
.btn--large,
a.btn--large {
  display: block;
}

/* line 354, ../scss/style.scss */
a.btn:hover {
  background: #0079c0;
}

/* line 358, ../scss/style.scss */
.footer {
  margin-top: 50px;
  padding: 0;
  color: #a5a5a5;
  font-size: 13px;
  border-top: 1px solid #dbdbdb;
  padding-top: 30px;
  overflow: hidden;
}

/* line 368, ../scss/style.scss */
.footer__logo {
  float: left;
  width: 18%;
  margin-right: 6%;
}

/* line 373, ../scss/style.scss */
.footer__info {
  float: left;
  width: 76%;
}

/* line 377, ../scss/style.scss */
.ibox--half {
  width: 300px;
  float: left;
  padding-right: 20px;
}

/* line 382, ../scss/style.scss */
.ibox--half:last-child {
  padding-right: 0;
}

@media (max-width: 959px) {
  /* line 388, ../scss/style.scss */
  .wrap {
    width: auto;
  }

  /* line 391, ../scss/style.scss */
  .request-form__input--half {
    width: 100%;
  }

  /* line 394, ../scss/style.scss */
  .ibox {
    float: inherit;
    display: block;
    width: inherit;
    padding: 0;
  }
}
@media (max-width: 767px) {
  /* line 404, ../scss/style.scss */
  .inner {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 410, ../scss/style.scss */
  .request-form__input--half {
    width: 100%;
  }
}
@media (max-width: 479px) {
  /* line 417, ../scss/style.scss */
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* line 421, ../scss/style.scss */
  .header__logo {
    width: 70px;
    margin-top: 10px;
  }

  /* line 425, ../scss/style.scss */
  .header__phone,
  .header__title {
    font-size: 16px;
  }
}
/* line 433, ../scss/style.scss */
.ribbon {
  position: relative;
  margin-left: -30px;
  margin-bottom: 30px;
  padding: 30px 0 30px 30px;
  box-sizing: border-box;
}
/* line 439, ../scss/style.scss */
.ribbon:before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 15px solid #000;
  border-width: 0 30px 30px 0;
  border-color: transparent #000 transparent transparent;
}
/* line 451, ../scss/style.scss */
.ribbon--blue {
  color: #fff;
  background: #00ABF0;
}
/* line 454, ../scss/style.scss */
.ribbon--blue:before {
  border-color: transparent #006B96 transparent transparent;
}

/* line 460, ../scss/style.scss */
.face-block {
  background: #fff;
}
/* line 462, ../scss/style.scss */
.face-block .face-block__header {
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
}
/* line 466, ../scss/style.scss */
.face-block .face-block__header__title {
  font-size: 38px;
  margin: 0 0 12px;
}
@media screen and (max-width: 479px) {
  /* line 466, ../scss/style.scss */
  .face-block .face-block__header__title {
    font-size: 28px;
  }
}
/* line 473, ../scss/style.scss */
.face-block .face-block__header__date {
  font-size: 18px;
  color: #a5a5a5;
}
/* line 477, ../scss/style.scss */
.face-block .face-block__header__soon {
  color: #00ABF0;
  border: 2px solid;
  background: none;
}
/* line 483, ../scss/style.scss */
.face-block__rating-table {
  overflow: hidden;
  border: 2px solid;
  border-width: 4px 0 0 4px;
  font-size: 20px;
  color: #00ABF0;
  margin: 0 0 60px;
}
/* line 490, ../scss/style.scss */
.face-block__rating-table__cell {
  box-sizing: border-box;
  float: left;
  width: 50%;
  border: 2px solid;
  border-width: 0 4px 4px 0;
  height: 250px;
  position: relative;
}
@media screen and (max-width: 1023px) {
  /* line 490, ../scss/style.scss */
  .face-block__rating-table__cell {
    float: inherit;
    width: 100%;
  }
}
/* line 503, ../scss/style.scss */
.face-block__rating-table__cell__title {
  margin: 0;
  position: absolute;
  left: 35px;
  top: 35px;
  font-size: 1.2em;
  line-height: 1.2em;
}
/* line 511, ../scss/style.scss */
.face-block__rating-table__cell__info {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 18px;
}
/* line 518, ../scss/style.scss */
.face-block__rating-table__cell__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  color: #000 !important;
}
/* line 526, ../scss/style.scss */
.face-block__rating-table__cell__link:hover {
  background: #00ABF0;
  color: #fff !important;
}
@media screen and (max-width: 767px) {
  /* line 490, ../scss/style.scss */
  .face-block__rating-table__cell {
    height: 100%;
  }
  /* line 533, ../scss/style.scss */
  .face-block__rating-table__cell__link, .face-block__rating-table__cell__info, .face-block__rating-table__cell__title {
    position: static;
  }
  /* line 538, ../scss/style.scss */
  .face-block__rating-table__cell__link {
    padding: 30px;
    box-sizing: border-box;
  }
  /* line 542, ../scss/style.scss */
  .face-block__rating-table__cell__title {
    display: block;
    margin: 0 0 70px;
  }
}
@media screen and (max-width: 479px) {
  /* line 548, ../scss/style.scss */
  .face-block__rating-table__cell__link {
    padding: 10px;
    box-sizing: border-box;
  }
  /* line 552, ../scss/style.scss */
  .face-block__rating-table__cell__title {
    font-size: 20px;
  }
}
