h1, h2, h3, h4, 
.h1, .h2, .h3, .h4 {
	margin-top: 1em;
	line-height: normal;
}
h1, .h1 {
}
h2, .h2 {
	font-size: 32px;
	margin-bottom: 30px;
	@include respond-to($sizeXS) {
		font-size: 22px;
	}
}
h3, .h3 {
	font-size: 20px;
	margin-bottom: 20px;
}
h4, .h4 {
}


a {
	color: inherit;
	text-decoration: none;
}
p {
	margin-bottom: 30px;
}

.title {
	&--large {
		font-size: 56px;
		@include respond-to($sizeSM){
			font-size: 30px
		}
	}
	&--smooth {
		margin: 0;
	}
}