@font-face {
    font-family: 'Amazing Grotesk';
    src: url('Amazing%20Grotesk%20Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Amazing Grotesk';
    src: url('Amazing%20Grotesk%20Demi.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Amazing Grotesk';
    src: url('Amazing%20Grotesk%20Ultra.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fedra Serif';
    src: url('FedraSerifPro%20A%20Book.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

