@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
	 ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
	 ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
	 ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 85%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
	 ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
	 ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
	 ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html {
  height: 100%; }

body {
  font-size: 18px;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  background: #fff;
  height: 100%; }

h1 {
  font-size: 32px;
  margin-bottom: 22px; }

h2 {
  font-size: 22px;
  font-weight: normal;
  line-height: 130%;
  color: #181D2A;
  margin-bottom: 40px; }

._align_center {
  text-align: center; }

.grid {
  *zoom: 1;
  margin: -20px -10px; }
  .grid:before, .grid:after {
    content: " ";
    display: table; }
  .grid:after {
    clear: both; }

.grid-col {
  *zoom: 1;
  float: left;
  vertical-align: top;
  margin: 0 10px; }
  .grid-col:before, .grid-col:after {
    content: " ";
    display: table; }
  .grid-col:after {
    clear: both; }
  .grid-col.grid-col--single {
    margin: 0;
    width: 100%; }
  .grid-col.grid-col--2x {
    width: 620px; }

.grid-flow {
  *zoom: 1;
  float: left;
  vertical-align: top;
  margin: 0 0px; }
  .grid-flow:before, .grid-flow:after {
    content: " ";
    display: table; }
  .grid-flow:after {
    clear: both; }

.grid-more {
  position: absolute; }

.grid-item {
  display: block;
  height: 139px;
  width: 300px;
  border-bottom: 1px solid #E9E9E9;
  margin: 20px 0;
  text-decoration: none;
  position: relative; }
  .grid-item.grid-item--2x {
    height: 299px;
    background: #F6F9F9; }
    .grid-item.grid-item--2x .grid-item__wrap {
      position: absolute;
      z-index: 5;
      bottom: 16px;
      left: 16px;
      right: 16px; }
  .grid-item.grid-item--3x {
    height: 459px;
    background: #F6F9F9; }
    .grid-item.grid-item--3x .grid-item__wrap {
      position: absolute;
      z-index: 1;
      top: 20px;
      left: 16px;
      right: 16px; }
  .grid-item.grid-item--2y {
    width: 100%;
    background: #F6F9F9;
    border-bottom: 0; }
    .grid-item.grid-item--2y .grid-item__wrap {
      position: absolute;
      z-index: 1;
      bottom: 16px;
      left: 16px;
      right: 16px; }
  .grid-item.grid-item--3y {
    width: 100%;
    background: #F6F9F9; }
    .grid-item.grid-item--3y .grid-item__wrap {
      position: absolute;
      z-index: 1;
      bottom: 16px;
      left: 16px;
      right: 16px; }
  .grid-item.grid-item--photo .grid-item__wrap {
    width: 322px;
    left: auto;
    right: 0;
    top: 0;
    height: 100%;
    background: #202737;
    padding: 16px;
    box-sizing: border-box; }
  .grid-item.grid-item--photo .grid-item__name {
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px; }
  .grid-item.grid-item--photo .grid-item__intro {
    color: #fff; }
  .grid-item.grid-item--photo .grid-item__photo {
    width: 640px;
    min-height: 1px; }
  .grid-item.grid-item--photo .button-more {
    position: absolute;
    bottom: 0px;
    left: 20px; }
  .grid-item.grid-item--article .grid-item__name {
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
  .grid-item.grid-item--video {
    position: relative; }
    .grid-item.grid-item--video .grid-item__wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      top: auto;
      padding: 15px 20px 0 20px;
      width: 100%;
      background: #202736;
      box-sizing: border-box; }
      .grid-item.grid-item--video .grid-item__wrap .grid-item__name {
        color: #f7f7f7;
        font-size: 25px;
        font-weight: bold; }
    .grid-item.grid-item--video:after {
      content: "\f01d";
      font-family: FontAwesome;
      position: absolute;
      z-index: 50;
      font-size: 80px;
      color: #fff;
      left: 50%;
      top: 35%;
      margin-left: -50px;
      margin-top: -50px;
      width: 100px;
      height: 100px;
      text-align: center;
      line-height: 100px; }
  .grid-item.grid-item--flow {
    float: left;
    margin-left: 10px;
    margin-right: 10px; }

.grid-item__label {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background: #009C80;
  padding: 5px 13px 4px 13px;
  height: 23px;
  box-sizing: border-box; }
  .grid-item__label:after {
    position: absolute;
    left: 100%;
    top: 0;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 12px 0 0;
    border-color: #009C80 transparent transparent transparent; }

.grid-item__wrap {
  text-decoration: none; }

.grid-item__date {
  font-size: 14px;
  color: #B6B6B6;
  display: block;
  margin-bottom: 10px;
  text-decoration: none; }

.grid-item__name {
  font-size: 18px;
  color: #000;
  display: block;
  line-height: 130%;
  text-decoration: none;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 700; }

.grid-item__intro {
  font-size: 16px;
  color: #727272;
  display: block;
  margin-top: 10px;
  line-height: 130%;
  text-decoration: none;
  min-height: 160px; }

.grid-item__photo {
  display: block;
  margin: 0 auto 30px auto;
  width: 160px;
  height: 160px;
  border-radius: 50% 50% 50% 0;
  background: #ccc;
  text-decoration: none;
  background-size: cover;
  background-position: center; }
  .grid-item__photo.grid-item__photo--bg {
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: transparent; }

.mos-med-head {
  border-bottom: 1px solid #202737;
  margin-bottom: 30px;
  position: relative; }

.mos-med-head__logo {
  font-size: 58px;
  color: #202737;
  text-decoration: none;
  margin-bottom: 5px;
  display: block; }

.mos-head-menu {
  margin: 15px 0 10px 0; }

.mos-head-menu__item {
  font-size: 13px;
  text-decoration: none;
  margin-right: 10px;
  letter-spacing: 1px;
  color: #000; }
  .mos-head-menu__item:hover {
    color: #009C80; }

.soc-icons a {
  color: #ccc;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 50%;
  text-align: center;
  font-family: Arial;
  line-height: 20px; }
.soc-icons.soc-icons--footer {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  bottom: 50px; }
  .soc-icons.soc-icons--footer a {
    color: #515a69;
    border: 2px solid #515a69; }

.interviews {
  background: #F6F9F9;
  position: relative;
  margin: 30px 0; }
  .interviews .grid-item {
    border-bottom: 0; }

.latest {
  position: relative;
  margin: 30px 0;
  padding-top: 50px;
  border-top: 2px solid #009c80; }

.button-more {
  height: 50px;
  border: 3px solid #009C80;
  display: inline-block;
  width: 280px;
  color: #009C80;
  text-align: center;
  line-height: 44px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50px;
  margin: 25px auto;
  position: relative;
  box-sizing: border-box; }
  .button-more .fa {
    font-size: 32px;
    position: absolute;
    right: 9px;
    top: 7px; }

.head-menu {
  height: 42px;
  line-height: 42px;
  background: #202737;
  margin-bottom: 25px; }
  .head-menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px; }
    .head-menu a:hover {
      text-decoration: underline; }

.shares {
  margin: 40px; }

.menu {
  font-family: 'Circe', Helvetica, Arial;
  font-size: 18px; }
  .menu.menu--intro {
    position: absolute;
    z-index: 50;
    left: 50%;
    top: 55px;
    margin-left: 245px; }
    .menu.menu--intro:before {
      content: "";
      position: absolute;
      z-index: 1;
      width: 1px;
      top: 10px;
      bottom: 10px;
      left: 5px;
      background: #AB881C; }
  .menu:hover .menu__item {
    color: #AB881C; }
    .menu:hover .menu__item.menu__item--active {
      color: #AB881C; }
  .menu .menu__item {
    display: block;
    color: #EED142;
    text-decoration: none;
    -webkit-transition: color .5s ease;
            transition: color .5s ease;
    position: relative;
    z-index: 5; }
    .menu .menu__item + .menu__item {
      margin-top: 18px; }
    .menu .menu__item:before {
      content: "\f111";
      font-family: FontAwesome;
      font-size: 12px;
      vertical-align: 1px;
      margin: 0 16px 0 1px;
      color: #AB881C;
      -webkit-transition: color .5s ease;
              transition: color .5s ease; }
    .menu .menu__item.menu__item--active {
      color: #fff; }
      .menu .menu__item.menu__item--active:before {
        color: #fff; }
    .menu .menu__item:hover {
      color: #fff; }
      .menu .menu__item:hover.menu__item--active {
        color: #fff; }
      .menu .menu__item:hover:before {
        color: #fff; }

.interfax-logo {
  display: block;
  width: 228px;
  height: 69px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0; }
  .interfax-logo svg {
    width: 100%;
    height: 100%; }
    .interfax-logo svg path {
      fill: #009C80; }
    .interfax-logo svg polygon {
      fill: #009C80; }

.gals-logo {
  background: url(/i/gals-logo.png) no-repeat center;
  display: block;
  margin: auto;
  width: 146px;
  height: 24px; }

.kommersant-logo {
  background: url(/i/kommersant-logo.png) no-repeat center;
  display: block;
  margin: auto;
  width: 176px;
  height: 23px; }

.wrap {
  width: 942px;
  margin: auto; }
  .wrap.wrap--table {
    display: table; }
  .wrap.wrap--footer {
    width: 1200px; }

.article {
  width: 700px;
  margin: 0 auto 60px auto; }
  .article p {
    width: 620px;
    margin: 20px 0 20px 80px;
    line-height: 150%;
    box-sizing: border-box; }
  .article blockquote {
    font-size: 28px;
    color: #202737;
    line-height: 130%;
    width: 620px;
    margin: 40px 0 40px 80px;
    padding-left: 80px;
    padding-top: 25px;
    box-sizing: border-box;
    position: relative; }
    .article blockquote p {
      margin: 0;
      padding: 0;
      width: auto; }
    .article blockquote:before {
      content: '\f10e';
      font-family: FontAwesome;
      font-size: 36px;
      color: #009C80;
      position: absolute;
      left: 0;
      top: -3px; }
    .article blockquote:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 545px;
      border-top: 2px solid #009C80; }
  .article .shares {
    width: 620px;
    margin: 20px 0 20px 80px;
    box-sizing: border-box; }

.article-photo, figure.image {
  position: relative;
  z-index: 1;
  margin: 0 0 70px 0;
  box-sizing: border-box; }
  .article-photo .article-photo__image, .article-photo img, figure.image .article-photo__image, figure.image img {
    width: 100%;
    display: block; }
  .article-photo .article-photo__copy, .article-photo figcaption, figure.image .article-photo__copy, figure.image figcaption {
    color: #9E9E9E;
    position: absolute;
    top: 100%;
    margin-top: 10px;
    left: 0;
    font-size: 13px;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 10px; }

.article-author {
  font-size: 16px;
  color: #9B9B9B;
  width: 620px;
  margin: 20px 0 20px 80px;
  position: relative;
  padding-left: 30px;
  line-height: 150%;
  box-sizing: border-box; }
  .article-author:before {
    content: '';
    background: #009C80;
    position: absolute;
    left: 0;
    top: -3px;
    width: 20px;
    height: 20px; }
  .article-author a {
    color: #9B9B9B; }
    .article-author a:hover {
      color: #009C80; }

.photo-incut {
  background-color: #EBEAE3; }

.photo-incut__image {
  display: table-cell;
  vertical-align: top;
  padding-left: 78px; }
  .photo-incut__image img {
    display: block; }

.photo-incut__text {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  font-size: 16px;
  color: #AC8900;
  padding: 20px; }

.photo-incut__text__copy {
  margin-top: 20px;
  font-size: 14px; }

.photo-aside {
  width: 297px;
  float: left; }

.photo-aside__text {
  font-size: 16px;
  color: #AC8900;
  margin-top: 20px; }

.photo-aside__copy {
  font-size: 14px;
  color: #AC8900;
  margin-top: 20px; }

.photos {
  margin: 0 -10px;
  *zoom: 1; }
  .photos:before, .photos:after {
    content: " ";
    display: table; }
  .photos:after {
    clear: both; }
  .photos img {
    float: left;
    margin: 10px; }

/******** ПОДВАЛ **********/
.footer {
  /* Блок подвала */
  background: #202737;
  margin-top: 60px;
  position: relative;
  padding-bottom: 60px; }

.footerMenu a {
  /* Меню в подвале */
  font-size: 16px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 20px 12px 17px 0px;
  -webkit-font-smoothing: antialiased; }

.footerLine {
  /* Полоска, отделяющая меню от контента */
  background: #333947;
  height: 1px;
  position: relative;
  left: -30px;
  width: 1170px; }

.fCright {
  /* Текст с указанием авторских прав */
  color: #7f8287;
  font-size: 12px;
  margin: 27px 0px 0px 7px; }

.fCright span {
  /* Логотип */
  display: inline-block;
  width: 46px;
  height: 40px;
  float: left;
  margin-right: 27px;
  position: relative;
  top: -4px; }

.fCright span img {
  width: 46px;
  height: 43px; }

.fHeader {
  /* Заголовок */
  margin-top: 27px; }

.fHeader a, .fHeader {
  font-size: 26px;
  color: #7f8287;
  text-decoration: none; }

.f1, .f2 {
  /* Два логических контейнера */
  display: inline-block;
  width: 655px;
  vertical-align: top;
  color: #7f8287;
  margin-left: 7px; }

.f2 {
  width: 230px;
  margin-left: 45px; }

.f2 div:first-child {
  /* Блок с текстом об обнаруженной ошибке */
  font-size: 13px;
  margin: 40px 0px 21px 0px; }

.f2 div {
  /* Иконки (блок) */
  margin: 0px 0px 18px 0px; }

.f2 div img {
  /* Иконки (изображения) */
  margin-right: 6px; }

.f2 a {
  /* Список ссылок */
  color: #7f8287;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  margin-top: 4px; }

.f2 a.spell {
  color: #3f9f8b;
  font: 13px 'Proxima Nova Regular', 'helvetica neue', arial, helvetica, sans-serif;
  text-decoration: none;
  margin: 0px; }

.f1_1, .f1_2 {
  /* Два логических контейнера родительского f1 */
  display: inline-block;
  width: 297px;
  vertical-align: top;
  margin-top: 17px; }

.f1_1 h3, .f1_2 h3 {
  margin: 0px; }

.f1_2 {
  margin-left: 55px; }

.f1_2 span {
  margin-top: 18px;
  display: block; }

.f1_2 span a {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(/img/f_ico.png) no-repeat; }

.f1_2 span .i2 {
  background-position: -29px; }

.f1_2 span .i3 {
  background-position: -58px; }

.f1_2 span .i4 {
  background-position: -87px; }

.f1_2 span .i5 {
  background-position: -116px; }

.f1_2 span .i6 {
  background-position: -145px; }

.f1_1 div, .f1_2 div {
  /* Обычный текст */
  font: 14px 'Proxima Nova Regular', 'helvetica neue', arial, helvetica, sans-serif;
  color: #7f8287;
  margin-bottom: 7px; }

.f1_1 a, .f1_2 a {
  /* Ссылки */
  font: 13px 'Proxima Nova Regular', 'helvetica neue', arial, helvetica, sans-serif;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-top: 3px; }
