.cdm-logo {
	display: block;

	svg {
		width: 100%;
		height: 100%;
	}


	&.cdm-logo--intro {
		width: 193px;
		height: 156px;
		position: absolute;
		z-index: 10;
		left: 50%;
		top: 50px;
		margin-left: -471px;
	}


	&.cdm-logo--footer {
		width: 193px;
		height: 156px;
		display: block;
		margin: auto;
		padding: 40px;
	}


	&.cdm-logo--preamb {
		width: 200px;
		height: 161px;
		margin: 55px auto 65px auto;
	}

	&.cdm-logo--white {
		path {
			fill: #fff;
		}

		polygon {
			fill: #fff;
		}
	}
}




.gals-logo {
	background: url(/i/gals-logo.png) no-repeat center;
	display: block;
	margin: auto;
	width: 146px;
	height: 24px;
}



.kommersant-logo {
	background: url(/i/kommersant-logo.png) no-repeat center;
	display: block;
	margin: auto;
	width: 176px;
	height: 23px;
}