@charset "utf-8";


/* Элементы глав */
@import "blocks/b-element/b-element.css";
@import "blocks/b-element/b-element_guide-point.css";
@import "blocks/b-search-params.css";

body {
	padding-top: 90px;
	padding-bottom: 40px;
}

/*BOOTSTRAP MOD*/
label.bg-control-label {
	width: auto !important;
}


table.bg-horizontal-table {
  width: 100%;
	/*border-spacing: 6px;*/
	border-collapse: collapse;
	border: 1px dotted #000;
}

	.bg-horizontal-table td {
		padding: 10px;
		text-align: right;
    vertical-align: top;
    border-left: 1px dotted #000;
	}

  .bg-horizontal-table td:first-child {
    border-left: 0;
  }
	
	.bg-horizontal-table .bg-controls {
		display: inline-block;
		margin-left: 10px;
	}
	
div.article_control_menu .menu {	

	text-align: left;
}



input#chapter_add_btn {
	margin-right: 80px;
	width: 120px;
}


label.text.inline {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

label.text.inline input[type="text"] {
  margin-left: 5px;
}

label.text.inline:first-child {
  margin-left: 0;
}


/*END BOOTSTRAP MOD*/



.hidden {
  display: none !important;
}


.milk {
	display: none;
	position: fixed;
	z-index: 1500;
	background: #000;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	opacity: .7;
	filter: alpha(opacity=70);
}

.popup-window {
	display: none;
	position: absolute;
	z-index: 2000;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	top: 50%;
}
	.popup-window .wrap {
		padding: 10px;
		background: #fff;
	}

.sortable td:first-child {
  width: 40px;
  text-align: center;
}
.sortable td:last-child {
  width: 70px;
  text-align: center;
}



/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  position: fixed;
  top: 40px;
  left: 0;
	right: 0;
	z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
	border-color: #d5d5d5;
	border-width: 0 0 1px; /* drop the border on the fixed edges */
}
.subnav .nav {
  margin: 0 auto;
	padding: 0 1px;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }


.jstree a, .jstree ins {
  text-decoration: none;
}
.jstree a {
  margin: 5px 0px;
}
.jstree ul {
  list-style: none;
}
.jstree .jstree-icon {
  right: -20px;
  position: relative;
  top: 2px;
}
.jstree-open > .jstree-icon {
  background-image: url("/static/bootstrap/img/glyphicons-halflings.png");
  background-position: -313px -119px;
}
.jstree-closed > .jstree-icon {
  background-image: url("/static/bootstrap/img/glyphicons-halflings.png");
  background-position: -456px -72px;
}

/* Фотогалереи */
table.galleries-list td {vertical-align: middle;}
.gallery-form .gallery-name {margin-right: 10px;}
.gallery-form .b-photo-edit-textfields {
  float: left;
  margin-right: 10px;
}
.gallery-form table.photos-list td {
  vertical-align: middle;
}
.gallery-form table.photos-list td.preview {
  text-align: center;
}
.gallery-form table.photos-list td.fields textarea, tr.template-download textarea {height: 92px;}
.gallery-form table.photos-list tr {width: 100%;}


div#screen_fog {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #ccc;
	z-index: 10000;
	opacity: 0.5;
	display: none;
}

/* Редактирование статьи */


a.chapters_menu {
/*	border-left: 3px solid #ccc;*/
/*	margin: 6px 0px;*/
}

div.chapter_holder {
	display: none;
}

div.chapter_holder.active {
	display: block;
}

div#elements_menu {
	top: 100%; 
	width: 100%;
  margin: 10px 0;
	background-color: #fff;
}

div#elements_menu p.head {
	background-color: #eee;
	padding: 2px 4px;
	font-weight: bold;
	cursor: move;
}

div.element_holder {
	position: relative;
}

div.element_holder:hover {
  /*z-index: 1000;*/
}
div.element_holder:hover .b-element__content > div,
div.element_holder:hover .b-element__content > img,
div.element_holder:hover .b-element__content > blockquote,
div.element_holder:hover .b-element__content > form {
 /*box-shadow: 0 0 5px 1px #333;*/
 outline: rgb(94, 158, 215) auto 5px;
 /*background: #fff;*/
 }

/*div.element_holder table td {
	padding: 3px 5px 3px 0px;
}
*/

.element_holder .wysiwyg_editor
{
	min-height:90px;
}

.element_placeholder {
	width: 100%;
	height:70px;
	margin: 10px 0 15px;
	border: 1px dashed #000;
}

div.element_holder .chapter_element {
	margin: 0px;
}

div.element_holder .chapter_element:hover {
  /*box-shadow: 0 0 1px 1px #333;*/
}


div.element_holder .sort_btn {
	width: 87px;
	z-index: 999;
	text-align: left;
}

div.element_holder .remove_btn {
	display: none;
	margin-top: 10px;	
}

div.element_holder .remove_btn.active {
	display: block;
}

div.element_holder div.element_controls {
	position: absolute;
	top: 0px;
}

div.element_holder a.wysiwyg_source {
	display: block;
	margin-top: 10px;	
}


div.element_holder .element_content {
	display: none;
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
}

div.element_holder .blockquote_text {
	width: 640px;
	height: 80px;
}


div.element_holder div.wysiwyg_source_block {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 700px;
	height: 400px;
	margin-top: -200px;
	margin-left: -350px;
	display: none;
	z-index: 99999;
	background-color: #fafafa;
	border: 1px solid #000;
	border-radius: 5px;
	
}

div.element_holder div.wysiwyg_source_block div.wysiwyg_source_area_container{
	display: block;
	width: 700px;
	height: 350px;
	border-bottom: 1px solid #000;
}

div.element_holder div.wysiwyg_source_block  a.wysiwyg_source_close {
	font-size: 16px;
	margin-left: 50%;
	margin-top: 20px;
}

/*GuideGMap*/

div#guide_gmap_block {
	margin: 0  0 30px;
}

div#guide_gmap_block .hidden {
	visibility: hidden;
	height: 0px;
}

div#guide_gmap_block .visible {
	visibility: visible;
	height: auto;
}


div.GuideGMap_dot .highlighter {
	position: absolute;
	margin-left: -30px;
	margin-top: 3px;
	display: none;
}

div.GuideGMap_dot .highlighter.on {
	display: inline;
}


div.GuideGMap_dot_params {
	display: none;
	margin: 10px 0px;
}

div.GuideGMap_dot input.dot_address, .dot_x, .dot_y{
	height: 16px !important;
	font-size: 12px !important;
}

input.GuideGMap_dot_add {
	margin-top: 5px;
}



input.GuideGMap_remove_dot {
	/*margin-left: 5px;*/
}
/*END GuideGMap*/

div#wysiwyg_is_loading {
/*	position: fixed; 
	top: 100px; 
	width: 140px; 
	height: 18px; 
	z-index: 999; 
	padding: 4px;*/
}

.remove_chapter {/*position:absolute;margin:3px 0 0 190px;*/display:block;cursor:pointer; float: right; margin: 2px 4px 2px;}

.remove_chapter .icon-remove-sign {
  color: #fff;
}

#service_field_label {color:#08c;border-bottom:1px dashed #08c;cursor:pointer;}
#service_field {display:none;}
#service_field.vis {display:block;}



.noedited {
  visibility: hidden;
}




.cke_editable {
  outline: 0;
}



/*  Новые стили административной части
 * =============================================== */

 /* Bootstrap hacks */

 .body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

  .form-horizontal .control-label {
   text-align: left;
   width: 170px;
  }

  .label, .badge {
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }


  .control-group_x2 {
    width: 430px;
    display: inline-block;
    vertical-align: top;  
  }

  .btn[data-action="trigger-lock"] {
    font-size: 0;
  }
  .btn[data-action="trigger-lock"]:before {
    font-size: 14px;
    vertical-align: middle;
  }


.pagination {
  padding-bottom: 60px;
}

  /* Article Hacks */

  .b-article-element-poll__vote {
   font: 16px 'bigcity', Georgia, Times, serif
  }

  .l-root_w-1200 .b-article-element_shiftable {
    margin-left: 0;
    padding-left: 180px;
  }

  .l-root_w-1200 .b-article-element_shiftable.gallery_wide_wrapper {padding-left:0;}

  .b-article-element-video iframe {
    position: relative;
    z-index: 1;
  }


  /* Формы */

  .b-admin__text {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 30px !important;
  }

  .b-admin__text_fullwidth {
    width: 100%;
  }
  .b-admin__text_number {
    width: 40px;
  }

  .b-admin__select {
    height: 30px;
  }
  .b-admin__textarea {
    width: 100% !important;
    max-width: 100%;
    min-width: 100%;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }



  /* Главы */

  .b-chapter {

  }

    .b-chapter__header {
      font-family: Helvetica, Arial, sans-serif;
    }

    .b-chapter__header__input {
      width: 420px;
    }



 /* Лейаут */

 .l-main__layout {
  padding: 0 10px 0;
 }

 .btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 /* Иконки */


 .icon-poll:before { content: "\f046"; }
 .icon-wysiwyg:before { content: "\f0f6"; }
 .icon-blockquote:before { content: "\f10e"; }
 .icon-imagewithcaption:before { content: "\f03e"; }
 .icon-gallery:before { content: "\f030"; }
 .icon-factoid:before { content: "\f0a1"; }
 .icon-instructionsstep:before { content: "\f059"; }
 .icon-person:before { content: "\f007"; }
 .icon-guidepoint:before { content: "\f041"; }
 .icon-table:before { content: "\f0ce"; }
 .icon-tableafisha:before { content: "\f073"; }
 .icon-pastecode:before { content: "\f0c9"; }


/* Верхнее меню */
  
  .b-admin__topbar {
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }



    .b-admin__topbar a {
      color: #fff;
    }

    .b-admin__topbar a:hover {
      color: #ff9a84;
    }

    .b-admin__topbar__inner {
      max-width: 1200px;
      width: auto !important;
      padding: 0 20px;
      margin: 0 auto;
    }

      .b-admin__topbar__inner .nav a {
        padding-left: 0 !important;
      }    

      .b-admin__topbar__inner .dropdown-menu a {
        color: #000;
        padding-left: 20px !important;
      }

  .b-submenu {
    position: fixed;
    left: 0;
    top: 40px;  
    width: 100%;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 999;
  }


  .b-menu {
    max-width: 1200px;  
    margin: 0 auto;
    padding: 0 20px;
  }

    .b-menu__col {
      display: inline-block;
      vertical-align: top;
      width: 33%;
    }
    .b-menu__col_corrector {
      width: 16%;
      text-align: center;
    }
    .b-menu__col_right {
      width: 17%;
      text-align: right;
      background-color: #fff;
    }

    .b-menu__corrector-mode {
      display: inline-block;
      margin: 5px 0;
    }
   
 /* Боковое меню с элементами статьи и главами 
 /====================================================== */

 .b-admin__article-menu {
  position: fixed;
  width: 250px;
 }
   .b-admin__article-menu__header {
    margin-bottom: 10px;
   }

   .b-admin__article-menu__buttons {
    margin-bottom: 20px;
   }

  /* Блок добавления элементов статьи 
  /====================================================== */
  
  .b-admin__article-menu__elements {    
    margin-bottom: 20px;    
    border: 1px solid #ececec;
    border-radius: 4px;
  }
   .b-admin__article-menu__elements .b-admin__article-menu__header {
    margin-left: 10px;
   }
  .b-admin__article-menu__element {
    cursor: move;
    cursor: -webkit-grab; 
    padding: 4px 10px;
  }
  .b-admin__article-menu__element:hover {
    background-color: #ffc;
  }

  .b-admin__article-menu__element [class^="icon-"],
  .b-admin__article-menu__element [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    color: #444;
  }

  .b-admin__article-menu__element_drag {
    font-size: 24px;
    white-space: nowrap;
  }

  .b-admin__article-menu__element_drag [class^="icon-"],
  .b-admin__article-menu__element [class*=" icon-"] {
    font-size: 22px;
    margin-right: 10px;
  }




  /* Блок с главами статьи 
  /====================================================== */

  .b-admin__article-menu__chapters {
    background-color: #eee;
    padding: 10px 0;
    border-radius: 4px;

    max-height: 400px;
    overflow-y: scroll;

  }

  .b-admin__article-menu__chapters .b-admin__article-menu__header {
    margin-left: 10px;
  }

  .b-admin__article-menu__chapters__add {
    margin: 0 10px 10px;
  }

  .b-admin__article-menu__chapters__list {
    margin: 0;
    padding: 0;
  }

  .b-admin__article-menu__chapters__item {
    font-weight: normal;    
  }

  .b-admin__article-menu__chapters__item:hover {
    background-color: #ffc;
  }

    .b-admin__article-menu__chapters__item__name {
      display: block;
      padding: 5px 10px;
      cursor: move;
      cursor: -webkit-grab; 
    }
    .b-admin__article-menu__chapters__item__name,
    .b-admin__article-menu__chapters__item__name:hover {
      color: #000;
      text-decoration: none;
    }

    .b-admin__article-menu__chapters__item__remove {
      margin-right: 10px;
    }

  .b-admin__article-menu__chapters__item.active {
    background: #333;    
  }
    .b-admin__article-menu__chapters__item.active .b-admin__article-menu__chapters__item__name {
      color: #fff;
    }

  /* Элементы главах статьи 
  /====================================================== */

  .b-element {
    margin-left: 50px;
  }

    .b-element__controls {
      position: absolute;
      left: -50px;
      top: 0;
      text-align: center;
      font-size: 14px;
      min-height: 100px;
      padding-right: 20px;
    }

    .b-element_imagewithcaption {
      z-index: 500;
    }
    .b-element_imagewithcaption + .b-element_wysiwyg {
      /*margin-top: -115px;*/
    }

    .b-element_imagewithcaption + .b-element_imagewithcaption + .b-element_wysiwyg {
      /*margin-top: -250px;*/
    }

    .b-element_imagewithcaption + .b-element_wysiwyg .b-element__controls {
      /*margin-top: 115px;*/
    }

    .b-element_imagewithcaption + .b-element_imagewithcaption + .b-element_wysiwyg .b-element__controls {
      /*margin-top: 250px;*/
    }

   .b-element_imagewithcaption .b-element__content {
    /*min-height: 0;*/
   }


    .b-element_imagewithcaption .b-element__content img {
      clear: left;
      margin: 0 20px 30px 0;
    }

      .b-element__controls .btn {
        padding: 4px 7px;
      }
    .b-element__type {
      padding: 0 6px;
      margin-bottom: 10px;
    }

    .b-element__type__icon {
      /*color: #ff5632;*/
      color: #444;
      /*color: #00d275;*/
      font-size: 22px;
    }


    .b-element__actions {
      /*background-color: #eee;*/
      /*background-color: #000;*/
      /*border: 1px solid #ececec;*/
      border-radius: 4px;
      padding: 5px 0;
    }
    .b-element__content {
      min-height: 115px;
    }

    .b-element__content form {
      background: #fff;
    }

  .b-element_wysiwyg .b-element__content {
    min-height: 155px;
    /*margin-left: 10% !important;*/
  }

  .b-admin__articles-list {

  }

    .b-admin__articles-list__row {

    }
    .b-admin__articles-list__row:hover {
      background: #ffc;
    }

    .b-admin__articles-list__icons {
      /*text-align: center;*/
    }
    .b-admin__articles-list__icons i {
      /*display: block;*/
      font-size: 18px;
      color: #000;
      text-decoration: none;
      margin-bottom: 4px;
    }


    .b-admin__articles-list__icons .icon-circle {
      color: #51a351;
    }
    .b-admin__articles-list__icons .icon-circle-blank {
      color: #b94a48;
    }

    .b-admin__articles-list__icons .icon-bookmark {
      color: #49afcd;
    }
    .b-admin__articles-list__icons .icon-certificate {
      color: #ff4949;
    }
    .b-admin__article-lists__icons .icon-bookmark-empty {
      color: #f89406;
    }


.b-additional-info {
  /*width: 470px;*/
  /*height: 50px;*/
  max-height: 200px;
}


.b-guide-map {

}

  .b-guide-map__dot {
    position: relative; 
    margin: 8px 0;
  
  }

    .b-guide-map__dot__address {
      width: 650px;
    }

    .l-root_w-900 .b-guide-map__dot__address {
      width: 410px;
    }


.b-admin__breadcrumbs {

}
.b-admin__breadcrumbs__link {
  color: #000;
}




.content-placeholder {
  margin: 0px 330px 0 40px;
}




._greybg {
  background: #EFEFEF;
}




.voit {
  padding: 30px 30px 30px;
  margin-bottom: 30px;
}

.voit p {
  margin-bottom: 1.3em;
  margin-left: 19%;
}

.voit .button {
  display: none;
}

.voit .results .result {
  margin-top: 25px;
  margin-left: 19%;
  color: #868686;
}

.voit .results .result span {
  color: black;
  font-weight: bold;
}

.voit .results p {
  font-size: 16px;
  margin-bottom: .4em;
}

.voit .pc-ball {
  display: inline-block;
  background: #ff4e45;
  width: 35px;
  height: 35px;
  margin-left: -45px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: bold;
  line-height: 35px;
  color: white;
  text-align: center;
  border-radius: 17px;
  -webkit-transition: border-radius .4s;
  transition: border-radius .4s;
}

.voit p:hover .pc-ball {
  border-radius: 0;
}






.radio-replacer.selected {
  background-position: -320px 0;
  cursor: default;
}

.radio-replacer {
  background: url("/s/i/icons.png") no-repeat scroll -320px -38px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 0 -7px;
  padding: 0 5px 0 0;
  width: 20px;
}

.radio-replacer + label {
  display: inline-block;
}





.b-article-element-quote {
  border-left: 2px solid #ff4f45;
  margin: 20px 0 20px 20%;
  padding-left: 2%;
  width: 60%;
}


/* News gallery */

.news-gallery {
  margin-bottom: 19px;
  position: relative;
}

.news-gallery .prev,
.news-gallery .next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 42px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.news-gallery .prev:after,
.news-gallery .next:after {
  content: '';
  background: url('../i/icons.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 45px;
  position: absolute;
  top: 50%;
  margin-top: -22px;
}

.news-gallery .prev:hover,
.news-gallery .next:hover {
  opacity: .6;
}

.news-gallery .prev.disabled,
.news-gallery .next.disabled {
  opacity: .2;
  cursor: default;
  pointer-events: none;
}

.news-gallery .prev:after {
  left: 0;
  background-position: -180px 0;
}

.news-gallery .next:after {
  right: 0;
  background-position: -220px 0;
}

.news-gallery .prev {
  left: 50%;
  margin-left: -370px;
}

.news-gallery .next {
  right: 50%;
  margin-right: -370px;
}

.news-gallery .frame {
  margin: 0 auto;
  width: 620px;
  background: #f5f5f5;
  overflow: hidden;
  -webkit-transition: height .2s;
  transition: height .2s;
}

.news-gallery .photo-container {
  width: 99999px;
}

.news-gallery .pic {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-right: 20px;
  max-width: 620px;
  opacity: .5;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.news-gallery .pic.active {
  opacity: 1;
}

/* /News gallery */



/* Viewpoint */

.personitem {
  padding: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
}

.personitem .textblock,
.personitem .voit {
  vertical-align: top;
  display: table-cell;
  width: 48%;
}

.personitem .textblock {
  padding: 0 0 0 4%;
}

.personitem .textblock p {
  min-height: 260px;
  height: 260px;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.personitem .textblock p:after {
  content: '';
  position: absolute;
  background: url('../i/shadow.png') 0 0 repeat-x;
  height: 88px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.personitem .voit {
  text-align: right;
  padding-bottom: 20px;
}

.personitem .voit img {
  width: 100%;
}

.personitem h3 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.personitem h3.title-a {
  color: #275e97;
}

.personitem h3.title-b {
  color: #fe574f;
}

.personsBlock .tags {
  border: none;
  margin-top: 15px;
  padding-bottom: 0;
}

.personsBlock .button {
  padding: 5px 20px;
  margin-top: 16px;
}

.personsBlock .col:first-child {
  border-right: 1px solid white;
}

.results {
  width: 100%;
  padding: 0 20px 10px;
  margin-top: -20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.results_cnt {
  padding: 10px 0;
  border: 1px solid #c7c7c7;
  width: 100%;
  display: table;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.results .text-wrap-a,
.results .text-wrap-b,
.results .line {
  display: table-cell;
  vertical-align: middle;
}

.results .line {
  width: 54%;
}

.results .text-wrap-a {
  text-align: right;
  width: 24%;
}

.results .text-wrap-b {
  text-align: left;
  width: 22%;
}

.results .num-a,
.results .num-b {
  font-size: 20px;
  font-weight: bold;
}

.results .num-a {
  color: #275e97;
}

.results .num-b {
  color: #fe574f;
}

.results .voted-a,
.results .voted-b {
  font-size: 11px;
}

.results .barwrap {
  width: 92%;
  padding: 0 4%;
}

.results .bar {
  width: 100%;
  height: 6px;
  font-size: 0;
  padding: 0;
  line-height: 0;
  background: #ff4e45;
}

.results .barvoted {
  height: 6px;
  background: #275e97;
}

/* /Viewpoint */


._w50 {
  width: 49%;
  padding-left: 0 !important;
  display: inline-block;
}

._w49 {
  width: 49%;
  padding-left: 0 !important;
  display: inline-block;
}

.bordered-inline-editor div[contenteditable] {
  border: 1px solid #ccc;
  max-width: 750px;
  min-height: 200px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  padding: 10px 10px 0;
  outline: 0;
}